.feature-section {
    background-color: var(--secondary-background);
    width: 1180px;
}

.feature-container {
    height: 16rem;
    margin: 5rem 29rem 5rem 29rem;
    font-weight: 300;
}

.feature-main-heading p {
    padding: 0rem 0rem 0rem 6rem;
    width: 497px;
    height: 76px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;

    text-align: center;
    letter-spacing: -0.531474px;
}

.feature-secondary-heading {
    width: 611px;
    height: 174px;

    font-family: 'Libre Baskerville', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.531474px;
}