// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");

:root {
  --whitetext: #FFFFFF;
  --primary: #52459F;
  --secondary: #85EAF6;
  --blacktext: #000000;
  --background: #1B1C31;
  --font-family: 'Montserrat', serif;

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --btn-padding: 8px 16px;
  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}

// .app-container {
//   background-color: var(--background);
//   font-family: var(--font-family);
//   overflow-x: hidden;
//   transition: 0.5s ease-in-out;
//   padding: 2rem 4rem;
//   @media screen and (min-width: 280px) and (max-width: 1080px) {
//     padding: 0;
//   }
// }

// @media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
//   .app-container::-webkit-scrollbar {
//     display: none;
//   }
// }

// ::-webkit-scrollbar {
//   background-color: #111111;
//   width: 0.2rem;
// }

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  // -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #0089ff;
  border-radius: 6px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: none;
  border: 0;
  cursor: pointer;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  font-family: "Montserrat", sans-serif;
  color: var(--whitetext);
  font-size: 16px;
  background-color: var(--background);
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: var(--gen-padding);
}