.navbar {
    background: var(--Background);
    position: relative;
    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }
    &__topMobile {
        background: var(--Background);
        &.show {
            background-color: var(--white);
        }
        &--main {
            padding: 25px 0;
            @include content-width;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--brand {
            display: block;
        }
        &--img {
            text-decoration: none;
            display: block;
            width: 130px;
            object-fit: contain;
        }
        .burger-bar {
            border-radius: 0.5em;
            background-color: var(--Dark-Blue);
            width: 25px;
            height: 4px;
        }
        .burger-bar.clicked:nth-child(1){
            transform: rotate(45deg);
            transform-origin: 10% 10%;
        }
        .burger-bar.clicked:nth-child(2){
            opacity: 0;
        }
        .burger-bar.clicked:nth-child(3){
            transform: rotate(-45deg);
            transform-origin: 0% 45%;
        }
        .burger-bar.unclicked {
            transform: rotate(0) translate(0);
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
        }
        &_burger {
            display: flex;
            flex-direction: column;
            gap: 4px;
            background-color: transparent;
            border: none;
            padding-bottom: 5px;
        }
        
        .hidden {
            display: none;
        }
        .visible {
            height: 100%;
        }
        .toggleMenu {
            top: 6.5625rem;
            max-width: 100%;
            width: 100%;
            overflow: hidden;
            left: 0;
            height: 100vh;
            position: absolute;
            z-index: -1;
            transition: var(--animation01);
            background: linear-gradient(180deg, rgba(1, 1, 1, 0.25) 11%, rgba(0, 0, 0, 0.4) 70%);
        }

        &--menu {
            background-color: var(--white);
            max-width: 400px;
            width: 90%;
            margin: 0 auto;
            margin-top: 5px;
            padding: 39px 0;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }

        &--link {
            text-transform: capitalize;
            color: var(--Primary);
            transition: var(--animation);
            &:hover,
            &:focus {
                color: var(--Dark-Grayish-Blue);
            }
        }
    }

    &__topDesktop {
        display: none;
        position: relative;
        z-index: 100;
        padding: 25px 0;
        background: var(--Background);
        &--main {
            @include content-width;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--brand {
            display: block;
        }
        &--img {
            text-decoration: none;
            display: block;
            width: 125px;
        }
        &--button {
            @include button;
        }
        &--nav {
            width: auto;
        }
        &--menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;
        }
        &--link {
            text-transform: capitalize;
            color: var(--white);
            transition: var(--animation);
            &:hover,
            &:focus {
                color: var(--Dark-Grayish-Blue);
            }
        }
    }

    // @media screen and (min-width:768px) {
    //      Add css when needed
    // }

    @media screen and (min-width:992px) {
        &__topMobile {
            margin: 60px;
            display: none;
        }
        &__topDesktop {
            display: block;
        }
    }

    @media screen and (min-width:1200px) {
        &__topDesktop {
            padding: 56px 0 25px;
        }
    }
}