.testimonial {
    background: var(--Background);
    padding-top: 45px;
    position: relative;
    z-index: 90;
    &__top {
        text-align: center;

        &--secondheading {
            color: var(--white);
            font-size: 2rem;
        }
    }
    &__middle {
        &--slide {
            padding: 0 20px;
        }
        &--picture {
            position: relative;
            top: 35px;
        }
        &--img {
            display: block;
            margin: 0 auto;
            width: 75px;
            height: 75px;
        }
        &--description {
            padding: 65px 10px 45px;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            text-align: center;
        }
        &--paragraph {
            color: var(--white);
            font-size: 0.95rem;
            line-height: 1.6rem;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        &--cta {
            @include button;
            align-self: center;
        }
    }
    @media screen and (min-width:768px) {
        &__middle {
            &--slide {
                padding: 0;
            }
        }
    }
    @media screen and (min-width:1200px) {
        &__middle {
            &--description {
                padding: 65px 20px 25px;
            }
            &--paragraph {
                font-size: 0.85rem;
            }
        }
    }
}