*,
button,
input {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    min-height: calc(100vh - 5rem);
    overflow-y: auto;
}