a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    background-color: var(--background);
    width: 100%;
    z-index: 20;
}

.navbar-container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 2px;
}

.logo {
    width: 50px;
}

.nav-title {
    font-weight: var(--whitetext);
    font-size: 28px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.nav-items li {
    display: inline-block;
    padding: 0 20px;
}

.nav-items li a {
    transition: 0.3s all ease 0s;
    transition: 0.1s all ease 0s;
    color: var(--whitetext);
}

.nav-items li a:hover {
    background-color: gainsboro;
    padding: var(--btn-padding);
    border-radius: 5px;
    color: var(--primary);
}

// .nav-buttons {
//     display: flex;
//     gap: 10px;
// }

// .nav-btn {
//     cursor: pointer;
//     color: var(--whitetext);
//     font-size: 16px;
//     padding: var(--btn-padding);
//     border-radius: 4px;
// }

// .btn1 {
//     border: 2px solid #52459F;
//     border-radius: 10px;
//     background-color: var(--primary);
// }

.nav-buttons {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 0.6em;
    color: var(--whitetext);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
    }
}

.btn1 {
    border-color: var(--primary);
    // border: 0;
    border-radius: 0;
    color: var(--whitetext);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;

    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 100%;
        background: var(--primary);
        z-index: -1;
        transition: width 150ms ease-in-out;
    }

    &:hover {
        color: #fff;

        &:after {
            width: 110%;
        }
    }
}