*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    //background
    --Background: #1B1C31;
    --Secondary-Background: #24243E;

    //color primary
    --Primary: #52459F;
    --Secondary: #85EAF6;

    //color neutral
    --Dark-Grayish-Blue: #9095a7 ;
    --Very-Dark-Blue: #1d1e25 ;
    --Very-Pale-Red: #5b4444 ;
    --Vary-Light-Gray: #fafafa;
    --white:#fff;

    //font weight
    --fw-200: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    //animation
    --animation:0.5s;
    --animation01:1.5s;

    //text colour
    --white-text: #FFFFFF;
    --black-text: #000000;
    --Bright-Red: #f25f3a; 
    --Dark-Blue: #242d52;
}

html{
    font-size: 16px;
}

body{
    font-size: 1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    overflow-x: hidden;
}

input,button,label,textarea{
    font-family: 'Be Vietnam Pro', sans-serif;
}

li{
    list-style: none;
}

a{text-decoration: none;}

p{
    color:var(--Dark-Grayish-Blue);
}

